.quantitySelector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quantitySelector__button {
    /* width: 300px;
    background-color: #FFF500;
    color: #2200F2; */
    background-color: #2200F2;
    border: none;
}
